*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: rgb(208, 83, 158);
    
}
#box2{
    height: 200px;
    width: 200px;
    background-color: rgb(83, 208, 158);
    margin-left: 100px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color: rgb(83, 158, 208);
    margin: 10px auto;
    padding: 50px;
}

#button{
    margin: 50px;
    padding: 10px 20px;
    padding-bottom: 10px;

}